header {
    font-family: "Calligraffitti";
    font-size: 30px;
    text-shadow: 3px 3px 3px DimGrey;
    background-color: rgb(163, 208, 226);
}

footer {
    font-family: "Calligraffitti";
    background-color: rgb(163, 208, 226);
    font-style: italic;
    font-size: 20px;
}

body {
 background-color: rgb(227, 246, 246);
}


