body {
    text-align: center;
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

h3 {
    text-shadow: 2px 2px 2px rgb(224, 142, 142);
    color: rgb(42, 52, 48);
    margin-top: 30px;
}

h1 {
    color: rgb(42, 52, 48);
    text-shadow: 2px 2px 2px rgb(224, 142, 142);
}

p {
    color: rgb(42, 52, 48);
    text-shadow: 2px 2px 2px rgb(224, 142, 142);
    text-align: center;
    font-size: large;
    font-style: italic;
}

input{
    border-radius: 20px;
    background: linear-gradient(to bottom, rgb(227, 227, 226), rgb(235, 210, 235));
    padding: 10px;
    text-align: center;
}
 button{
    background: radial-gradient(rgb(230, 146, 146), rgb(212, 157, 192));
    text-align: center;
    font-style: inherit;
    padding: 5px;
    border-radius: 10px;
 }